* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    font-size: 30px;
}


.block {
    background-color: rgb(221, 221, 221);
    border: solid 1px rgb(170, 170, 170);
    padding: 20px;
    text-align: center;
    height: 100%;
}

.header {
   min-height: 90px;
   margin-bottom: 130px;
}

.promo {
    min-height: 460px;
    margin-bottom: 110px;
}

.pricing {
    min-height: 480px;
    margin-bottom: 235px;
}

.team{
    min-height: 360px;
    margin-bottom: 180px;
}

.footer {
    min-height: 380px;
}